/* photographer */

.priceAndLike {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
  padding: 1em;
  background-color: #d3573c;
  width: 250px;
  font-weight: 600;
}

.wrapperLikes {
  display: flex;
  flex-direction: row;
}

.photographerLike {
  padding-right: 0.5em;
}

/* média */
.selectForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectLabel {
  padding: 1rem;
}

.pictures {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.photographie {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* //TODO dimensionner les media voir le travaille sur Marseille*/
.img {
  width: 80%;
}

.pictureDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: #901c1c;
}

.contenairLikes {
  display: flex;
  flex-direction: row;
}

.pictureLikes {
  padding: 0.3em;
}

.heart {
  width: 1rem;
}
