/* photographer ------------------------------------------------*/

.photograph__priceAndLike {
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
  padding: 1em;
  background-color: #d3573c;
  width: 250px;
  font-weight: 600;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.photograph__wrapperLikes {
  display: flex;
  flex-direction: row;
}

.photograph__likes {
  padding-right: 0.5em;
}

/* média -------------------------------------*/


.media__title{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* selection de l'affichage des médias */
/* .media__sort {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 1rem;
  z-index: 300;
}*/

.media__sortLabel {
  font-weight: 700;
  font-size: 18px;
  margin-right: 1em;
  padding-top: 1.3rem;
}

/* TODO styliser le select voir maquette*/

.media__sortSelection {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  background-color: #911C1C;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
}

/*
.hidden {
  overflow: hidden;
}*/

/*
.media__selectArrow {
  position: absolute;
  top: 25px;
  right: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
*/

/*
.media__selectOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  margin: auto 11px;
  padding-left: 0.5em;
}
*/

/*
.media__selectOpen:first-child {
  border-top: none;
} */

/*  médias du photogrape */

.medias {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.photographie {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  cursor: pointer;
  z-index:4;
}

.media {
  width: 375px;
  height: 325px;
  object-fit: cover;
  border-radius: 5px;
}

.pictureDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 375px;
  color: #901c1c;
  padding-top: 0.5em;
}

.pictureName {
  font-weight: normal;
  font-size: 1.2em;
}

.contenairLikes {
  z-index: 5;
  display: flex;
  flex-direction: row;
}

.pictureLikes {
  padding: 0.3em;
}

.heart {
  width: 1rem;
}
