.selectForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selectLabel {
  padding: 1rem;
}

.pictures {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.photographie {
  width: 33%;
}

/* //TODO dimensionner les media voir le travaille sur Merseille*/
.img {
  width: 80%;
}

.contenairLikes {
  display: flex;
  flex-direction: row;
}

.pictureLikes {
  padding: 0.3em;
}

.heart {
  width: 1rem;
}
