#contact__modal {
  display: none;
}

.photograph__header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.photographerAvatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.photographerLocation {
  color: #901c1c;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.contact__button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}


