.photograph__header {
  background-color: #fafafa;
  height: 313px;
  margin: 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 400;
  position:relative;
}
.photograp__title{ 
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.photograph__name {
grid-column: 1;
grid-row: 1;
width: 282px;
height: 83px;
margin-top: 71px;
margin-left: 50px;
font-size: 64px;
}

.photograph__location {
  width: 124px;
  height: 31px;
  color: #901c1c;
  margin-bottom: 1em;
  font-size: 24px;
  grid-column: 1;
  grid-row: 1;
  margin-left: 50px;
  position:relative;
  top: 154px;
}

.photograph__tagline{
  grid-column: 1;
  grid-row: 1;
  width: 348px;
  height: 23px;
  margin-left: 50px; 
  position:relative;
  top: 204px;
}

.contact__button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.contact__button:hover,
.contact__button:focus {
  background-color: #D3573C;
  color: black;
  border: none;
}

.photograph__avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  grid-column: 3;
  grid-row: 1;
  align-self: center;
}


