

.main__photographer{
margin: 6px 100px 0 100px;
}

.photograph__header {
  background-color: #fafafa;
  width:1240px;
  height: 313px;
  font-weight: 400;
  position:relative;
  display: flex;
  border-radius: 5px;
}

.photograph__details{
  margin-left: 50px;
  margin-top: 71px;
}

.photograp__title{ 
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.photograph__name {
width: 282px;
height: 83px;
font-size: 64px;
font-weight: 400;
margin: 0;
color:#D3573C;
}

.photograph__location {
  width: 124px;
  height: 31px;
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 19px;
}

.photograph__tagline{
  width: 348px;
  height: 23px;
  font-size: 18px;
  font-weight: 400;
  color:#525252;
}


.photograph__contact{
  margin: 137px 535px 107px 535px;
  position: absolute;
}

.contact__button:hover,
.contact__button:focus {
  background-color: #DB8876;
  color: #000000;
  border: none;
}

.photograph__avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  margin-left: 990px;
  align-self: center;
}


