/* selection de l'affichege des médias */
.selectForm {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 100px;
  
}

.selectLabel {
  font-weight: 600;
  margin-right: 1em;
  padding-top: 1.3rem;
}

.hidden{
  overflow:hidden;
}

.selectButton {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: transparent;
}

.selectOptions {
  padding: 0;
  margin:0;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 170px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index:5;
}


.date {
  top: -70px;
}

.title {
  top: -140px;
}

.selectArrow {
  position: absolute;
  top: 29.45px;
  right: 18px;
  width: 16px;
  height:9.88px;
  background-image: url("../assets/icons/dropdown.svg");
  cursor:pointer;
  z-index: 5;
}


.up {
  transform: rotate(180deg);
}

.hidden>.selectOptions>.selectOption:first-child {
height: 70px;
}

.selectOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height : 69 px;
  margin: auto 11px;
  padding-left: 0.5em;
  border-top: 1px solid white;
}

.selectOption:first-child{
  border-top: none;
  height:60px;
}

.selectOption:nth-child(0n+2) {
  height: 53px;
}


.selectOption:last-child {
  height: 57px;
}
