/* selection de l'affichage des médias */
/* TODO styliser les options voir maquette*/

/* .media__sort {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 100px;
  margin-top: 1rem;
}

.media__sortLabel{
  width:74px;
  height:23px;
  font-weight: 700;
  font-size: 18;
}


.media__sortContainer {
  position: relative;
  width: 170px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid black;
}


.media__sortSelection {
  display: inline-block;
  width: 200px;
  height: 70px;
  background-color: #911C1C;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  border:none;
  cursor: pointer;
  padding-left: 0.5em;
}

.dropdownArrow__img {
  position: absolute;
  top: 28.67px;
  left : 75%;
  right: -25%;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width:16px;
  height: 9.88px;
}

option{
  min-height: 70px;
  width:170px;
  margin: 15px 11px;
  padding: 1em 0.5em;
  font-weight: 700;
  font-size: 18px;
} */

.media__sortContainer{
  width: 200px;
  position: relative;
}

.media__sortContainer select{
  display:none;
}
.select-selected {
  background-color: #901C1C;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #901C1C;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
